[flake8]
per-file-ignores =
    # line too long
    foodgram/foodgram/settings.py: E501,
    foodgram/foodgram/recipes/migrations/*.py: E501, F401,
    foodgram/foodgram/users/migrations/*.py: E501,
    tests/*.py: E501, F401, F403, F405
