{% extends 'base.html' %}

{% block title %}{{ form_title }}{% endblock title %}

{% load static %}
{% load user_filters %}

{% block statics %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock statics %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">{{ form_title }}</h1>
</div>
<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__group">
            <label for="{{ form.title.id_for_label }}" class="form__label">{{ form.title.label }}</label>
            <div class="form__field-group">
                {{ form.title|add_class:"form__input"}}
                <span class="form__error">{{ form.title.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <p class="form__label">Теги</p>
            <div class="form__field-group">
                <div class="tags">
                    {% for value, text in form.tags.field.choices %}
                    <div class="tags__item">
                        <input type="checkbox" name="tags" id="id_{{ value }}" value="{{ value }}" class="tags__checkbox tags__checkbox_style_{{ value|get_color_tag }}" {% if value in recipe.tags %} checked="checked" {% endif %}>
                        <label for="id_{{ value }}" class="tags__label">{{ text }}</label>
                    </div>
                    {% endfor %}
                </div>
                <span class="form__error">{{ form.tags.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="nameIngredient" class="form__label">Ингредиенты</label>
            <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input" min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                </div>
                <div class="form__field-group-ingredientes-container">
                    {% for ingredient in recipe.ingredients.all %}
                    <div class="form__field-item-ingredient" id="ing_{{ ingredient.ingredient.id }}"><span>
                            {{ ingredient.ingredient.title }} {{ ingredient.quantity }}
                            {{ ingredient.ingredient.dimension }}</span> <span class="form__field-item-delete"></span>
                        <input id="nameIngredient_{{ ingredient.ingredient.id }}" name="nameIngredient" type="hidden" value="{{ ingredient.ingredient.title }}">
                        <input id="valueIngredient_{{ ingredient.ingredient.id }}" name="valueIngredient" type="hidden" value="{{ ingredient.quantity }}">
                        <input id="unitsIngredient_{{ ingredient.ingredient.id }}" name="unitsIngredient" type="hidden" value="{{ ingredient.ingredient.dimension }}">
                    </div>
                    {% endfor %}
                </div>
                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.cooking_time.id_for_label }}" class="form__label">{{ form.cooking_time.label }}</label>
            <div class="form__field-group form__field-group_time">
                {{ form.cooking_time|add_class:"form__input"}}
                <label for="id_time" class="form__label">минут</label>
                <span class="form__error">{{ form.cooking_time.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.description.id_for_label }}" class="form__label">{{ form.description.label }}</label>
            <div class="form__field-group">
                {{ form.description|add_class:"form__textarea"}}
                <span class="form__error">{{ form.decription.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <span class="form__label">Загрузить фото</span>
            <div class="form__field-group">
                {{ form.image }}
                <span class="form__error">{{ form.image.errors }}</span>
            </div>
        </div>
        <div class="form__footer">
            <button class="button button_style_blue">{{ button_caption }}</button>
            {% if is_edit %}
            <a style="margin-left: 2.5em" href="{% url 'delete_recipe' recipe.author recipe.pk %}" class="form__ingredient-link">Удалить</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}