{% extends 'base.html' %}

{% block title %}Мои подписки{% endblock title %}

{% load static %}
{% load user_filters %}

{% block statics %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock statics %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">Мои подписки</h1>
</div>
<div class="card-list">
    {% for author in page %}
    {% include 'includes/follow_card.html' with follow=author %}
    {% endfor %}
</div>
{% if page.has_other_pages %}
{% include "base_includes/paginator.html" with items=page paginator=paginator %}
{% endif %}
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>
{% endblock %}