{% load user_filters %}
{% load thumbnail %}
<div class="card-user" data-author="{{ follow.author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ follow.author.get_full_name }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in follow.author.recipes.all|slice:3 %}
            {% thumbnail recipe.image "72x72" crop="center" upscale=True as image %}
            <li class="card-user__item">
                <div class="recipe">
                    <img src="{{ image.url }}" alt="картинка рецепта {{ recipe.title }}" class="recipe__image">
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                </div>
            </li>
            {% endthumbnail %}
            {% endfor %}

            <li class="card-user__item">
                <a href="{% url 'profile' follow.author.username %}" class="card-user__link link">{{ follow.num_recipe|num_other_recipes }}</a>
            </li>
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe" onclick="location.reload()">Отписаться</button>
    </div>
</div>