{% load user_filters %}
<div class="card" data-id="{{ recipe.pk }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "364x240" crop="center" upscale=True as image %}
    <a href="{% url 'recipe' recipe.author.username recipe.id %}" class="link" target="_blank">
        <img src="{{ image.url }}" alt="Какой-то текст" class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.id %}" target="_blank">
            {{ recipe.title }}
        </a>
        <ul class="card__items">
            {{ recipe.tags|get_recipe_tags|safe }}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span>
                <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a>
            </p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% if user.is_authenticated %}
        <button class="button button_style_none" name="favorites" {% if not recipe|is_favorite:user %}data-out{% endif %}><span class="icon-favorite {% if recipe|is_favorite:user %}icon-favorite_active{% endif %}"></span></button>
        {% endif %}
    </div>
</div>