{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock title %}

{% block statics %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock statics %}


{% block content %}
{% load user_filters %}
<div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
</div>
<div class="form-container">
    <form method="post" class="form">
        {% csrf_token %}
        <p class="form__info-text">
            Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
        </p>
        <div class="form__group">
            <label for="{{ form.email.id_for_label }}" class="form__label">
                {{ form.email.id_for_label }}
            </label>
            <div class="form__field-group">
                {{ form.email|add_class:"form__input" }}
                <span class="form__error">{{ form.email.errors }}</span>
            </div>
        </div>
        <div class="form__footer">
            <button type="submit" class="button button_style_blue">Сбросить пароль</button>
        </div>
    </form>
</div>
{% endblock content %}